<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cognitedata.thesilentreach">
    
    <application
        android:label="The Silent Reach">
        <activity android:name="com.google.androidgamesdk.GameActivity"
            android:label="The Silent Reach"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true">
            <meta-data android:name="android.app.lib_name"
                android:value="thesilentreach" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
